* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.header {
  display: flex;
  height: 70px;
  line-height: 70px;
  margin-bottom: 10px;
  justify-content: center;
  border-style: solid;
}

.nav {
  display: flex;
  height: 70px;
  line-height: 70px;
  justify-content: center;
  border-style: solid;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: auto;
  margin-bottom: 10px;
}

.sub-content {
  display: flex;
  width: 200px;
  line-height: 680px;
  justify-content: center;
  border-style: solid;
}

.main-content {
  display: flex;
  flex: 1;
  line-height: 680px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  border-style: solid;
}

.footer {
  display: flex;
  line-height: 70px;
  margin-bottom: 10px;
  justify-content: center;
  border-style: solid;
}
